{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<h1 class="text-center">429</h1>
			<h2 class="text-center">S L O W  D O W N</h2>
			<h2 class="text-center">You've issued too many requests:</h2>
			<h2 class="text-center">You are doing something wrong!</h2>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
