@import "~bootstrap/dist/css/bootstrap.css";
@import "~highlight.js/styles/dracula.css";
/* Simple pixel include demo */
@import "includes/pixel.css";
@import "fonts.scss";

.jumbotron {
  color: #FFFFEE;
  border-radius: 0rem;
  background-color: #a81432;
  position:relative;

  .img-avatar {
    overflow: hidden;
    filter: invert(1);
  }

  .container {
    .d-inline-block {
      display: block !important;
    }

    @for $i from 1 through 6 {
      h#{$i} {
        font-family: Shojumaru;
        text-align: left !important;

        .badge {
          text-align: left !important;
          font-family: Roboto-regular;
        }
      }
    }
  }

  background-image:
          repeating-conic-gradient(
                          from var(--conic-rotation) at 105% 60%,
                          #a81432 0 6deg,
                          #890f23 6deg 12deg
          );
  background-position: -100% -200%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: hidden;
}

html {

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem #dc3545 !important;
    border-color: #890f23 !important;
  }

  .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #dc3545;
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #a81432;
    border-color: #890f23;
  }

  .footer {
    vertical-align: middle;
    horiz-align: right;
    text-align: left;
    font-family: Roboto-100;

    .base-footer-block {
      display: inline-block;
      width: 30%;
    }

    .ctfd {
      font-family: Roboto-100;
    }

    .artist {
      margin-left: 10px;
      margin-right: 10px;
      float: right;
      .artist-img {
        height: 100px;
      }
    }

    .sponsor {
      margin-left: 10px;
      margin-right: 10px;
      float: left;
      .sponsor-img {
        height: 60px;
        filter: invert(1);
      }
    }
  }

  body {
    main {
      .container {
        font-family: Roboto-regular;
      }
    }

    .navbar-dark {
      background-color: #a81432 !important;
    }

    nav {
      &.navbar {
        .container {
          font-family: "Asian Hiro";
        }
      }
    }
  }
}

.table {
  color: #35281E;
}

.badge-primary {
  background-color: #4a4a4a;
}

.btn-primary {
  background-color: #4a4a4a;
  border-color: #6a6a6a;
}

.btn-primary:hover {
  background-color: #BaBaBa;
  border-color: #BaBaBa;
}

a {
  color: #35281E;
}

a:hover {
  color: #35281E;
}

h2, h3, h4 {
  font-family: "Asian Hiro";
  margin-top: 1rem;
}

form#blankcheque {
  .fa {
    /* text-primary is !important too */
    color: #a81432 !important;
  }
  input#_submit {
    padding: 0.8rem 2em;
  }
}
