@import "./typography.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(0, #ff5d57 45%, #ffe560);
  background-size: 100% 300%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  z-index: 1;
  color: #f7b32b;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Asian Hiro", cursive;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0 #000, -0.1rem -0.1rem 0 #000,
    0.1rem -0.1rem 0 #000, -0.1rem 0.1rem 0 #000, 0.1rem 0.1rem 0 #000;
  font-size: 2rem;
}

h1,
h2 {
  font-family: "Shojumaru", cursive;
  -webkit-text-stroke: 1px black;
  text-shadow: 0 1px 0 #000;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  padding: 0.1rem;
}

h1.title {
  font-size: 1.2rem;
  width: 95%;
}

h2 {
  font-size: 3rem;
  width: 95%;
}

.sunburst {
  margin: 0;
  z-index: -1;
  position: fixed;
  display: flex;
  align-items: center;
}

.sunburst > img {
  height: 150vh;
  overflow: hidden;
  position: fixed;
  bottom: -50%;
  animation: sunburst 60s linear infinite;
}

@keyframes sunburst {
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
}

.footer > * {
  margin: 0.5rem;
}

.twitter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.insignia {
  height: 10vh;
  margin: 0;
}

.sponsor {
  font-size: 20px;
  text-shadow: 2px 2px 0 #000;
  margin: 0;
}

.sponsor img {
  height: 40px;
  filter: brightness(1%) saturate(100%) opacity(0.7);
}

a:link,
a:visited,
a:hover,
a:active {
  color: #f7b32b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-height: 600px) {
  h2 {
    font-size: 2rem;
  }

  .footer > * {
    margin: 0.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sunburst > img {
    height: 200vh;
  }

  h1.title {
    font-size: 2rem;
  }

  h2 {
    font-size: 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sunburst > img {
    /* position: fixed; */
    bottom: -115%;
    left: -50%;
    height: 220vh;
  }

  h1.title {
    font-size: 3rem;
  }

  h2 {
    font-size: 4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sunburst > img {
    left: -25%;
  }

  h1.title {
    font-size: 4rem;
  }

  h2 {
    font-size: 5rem;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
  }

  .footer :nth-child(3) {
    order: 2;
  }
  .footer :nth-child(1) {
    order: 2;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sunburst > img {
    left: -5%;
  }

  h1.title {
    font-size: 5rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 6rem;
  }
}
