{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="cybeartron preslash postslash">Team</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<p>Welcome to {{ get_ctf_name() }}!</p>
				<p>
					In order to participate you must either join or create a team.
				</p>
				<p>
					You can be in a team of one :)
				</p>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<a class="btn btn-primary w-100" href="">Play with Official Team</a>
			</div>
		</div> -->
		<div class="row pt-3">
			<div class="col-md-3 offset-md-3 text-center">
				<a class="btn btn-md btn-primary btn-outline w-100" href="{{ url_for('teams.join') }}">Join a Team</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="btn btn-md btn-primary btn-outline w-100" href="{{ url_for('teams.new') }}">Create a Team</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/plotly.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/utils.js') }}"></script>
	{% if solves %}
		<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/team.js') }}"></script>
	{% endif %}
{% endblock %}
