{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1> 
{% endblock %}

<!--reminder: logs under /pcap -->

{% block content %}
  {% for user in users %}
    <article class="post">
      <header>
        <div>
          <h1>{{ user['username'] }}</h1>
          <div class="about">ID: {{ user['id'] }}, username: {{ user['username'] }}, energon: {{ user['energon'] }}, alliance: {{ user['alliance'] }} </div>
          <a class="action" href="{{ url_for('blog.give_energon', recv_id=user['id'])}}">Give Energon</a>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
